nav {
    border: 1px solid var(--color-border);
    position: sticky;
    top: 1rem;
    max-height: fit-content;

    font-family: var(--font-family);
}

nav li {
    list-style-type: none;
}

@media (width< 768px) {
    nav {
        position: static;

        display: flex;
        gap: 1rem;

        overflow-x: auto;
        white-space: nowrap;

        padding-bottom: 0.5rem;

        scrollbar-width: none;
    }

    nav::-webkit-scrollbar {
        display: none;
    }
}